@import "vars"

@mixin box-shadow($shadow...)
  -webkit-box-shadow: $shadow
  -moz-box-shadow: $shadow
  box-shadow: $shadow

@mixin back-opacity($background, $opacity)
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: $background
  filter: opacity($opacity)

@mixin button($padding: 5px, $margin: 0, $color: $color-element)
  display: flex
  justify-content: center
  align-items: center
  padding: $padding
  margin: $margin
  color: $color
  border: 1px solid transparent
  font-size: 12px
  font-weight: bold
  text-transform: uppercase
  cursor: pointer
  background-color: transparent
  transition: all 0.1s ease-in-out
  position: relative
  outline: none
  &:hover
    border-color: $color
  &:active
    transform: scale(0.97,0.97)

@mixin button-link($color: $color-element)
  @include button(0,0,$color)
  &:hover
    border-color: transparent

@mixin carousel($container, $color-dot)
  .#{$container}
    &__container
      text-align: center
      position: relative
      width: 100%
      height: 800px
      margin: auto
      .#{$container}__slides
        &_text
          text-align: justify
          padding: 8px 12px
          position: absolute
          top: 30%
          left: 20%
          max-width: 20%
        &_image
          width: 99vw
          height: 100%
          overflow: hidden
      .fade
        -webkit-animation-name: fade
        -webkit-animation-duration: 1.0s
        animation-name: fade
        animation-duration: 1.0s
    &_prev, &_next
      display: flex
      align-items: center
      justify-content: center
      cursor: pointer
      position: absolute
      top: 0
      bottom: 0
      min-width: 10px
      max-width: 100px
      width: 10%
      padding: 0 16px
      color: white
      font-weight: bold
      transition: 0.6s ease
      border-radius: 0 3px 3px 0
      font-size: 45px
      &:hover
        color: $color-dot
    &_prev:hover
        background: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.0) 100%)
    &_next:hover
        background: linear-gradient(270deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.0) 100%)
    &_next
      right: 0
      border-radius: 3px 0 0 3px
    .#{$container}__container_dot
      position: relative
      top: -40px
      .#{$container}_dot
        cursor: pointer
        height: 5px
        width: 50px
        margin: 0 2px
        background-color: $color-element-dark
        display: inline-block
        opacity: 0.3
        transition: background-color 0.6s ease
        &:hover
          opacity: 1
          background-color: $color-dot
      .active
        background-color: $color-dot

@-webkit-keyframes fade
  from
    opacity: .4
  to
    opacity: 1


@keyframes fade
  from
    opacity: .4
  to
    opacity: 1

@mixin _1170
  @media (max-width: 1170px)
    @content

@mixin _979
  @media (max-width: 979px)
    @content

@mixin _768
  @media (max-width: 768px)
    @content

@mixin _600
  @media (max-width: 600px)
    @content

@mixin _480
  @media (max-width: 480px)
    @content

@mixin _350
  @media (max-width: 350px)
    @content
