.emersion
  animation-name: emersion
  animation-duration: 1.0s

.opaticies
  animation-name: opaticies
  animation-duration: 1.5s

.underline
  animation-name: underline
  animation-duration: 1.0s

.moving-show
  animation-name: moving-show
  animation-duration: 0.5s
  animation-fill-mode: forwards

.moving-hide
  animation-name: moving-hide
  animation-duration: 0.5s
  animation-fill-mode: forwards

@keyframes emersion
  0%
    transform: scale(1,1)
  1%
    transform: scale(0,0)
  50%
    transform: scale(1.1,1.1)
  100%
    transform: scale(1,1)

@keyframes opaticies
  0%
    opacity: 0
  50%
    opacity: 0
  100%
    opacity: 1

@keyframes underline
  0%
    border-bottom: 0
  100%
    border-bottom: 1px

@keyframes moving-show
  0%
    width: 0
  100%
    width: 100%

@keyframes moving-hide
  0%
    width: 100%
  100%
    width: 0

.an-scale
  transition: width 0.3s ease
  &:hover
    transform: scale(1.03,1.03)

.an-offset
  transition: width 0.3s ease
  &:hover
    transform: translate(2px)
