@import "vars"

*
  margin: 0
  padding: 0
  font-size: 16px
  box-sizing: border-box
  font-family: Lato
  letter-spacing: 1px

html, body, #root
  height: 100%

.layout
  display: flex
  flex-direction: column
  height: 100%
  .wrapper-content
    flex: 1 0 auto
  .footer
    flex: 0 0 auto

.container_
  width: 100%
  max-width: $container
  margin: 0 auto
  @include _350

.content
  display: flex
  margin-top: 30px

.heightContent
  height: max-content

main
  width: 100%

a
  color: $color-element
  text-decoration: none
  &:visited
    color: $color-element
  &:hover
    color: $color-element

input
  height: 25px
  padding: 5px
  border: 1px solid $input-border

.text-align-center
  text-align: center

.caption-main
  font-size: 20px
  padding: 10px

.in-row
  display: flex
  align-items: center
  width: 100%

.w-10
  width: 10%

.w-70
  width: 70%

.w-80
  width: 80%!important

.tag
  overflow: hidden
  min-height: 30px

.text-right
  text-align: right

.main-caption
  font-size: 1.5rem
  font-weight: bold

.center-block
  display: flex
  align-items: center
  justify-content: center

.line-block
  display: flex
  align-items: center
  justify-content: flex-start

.display-none
  display: none

.display
  display: block!important

.center-vert
  align-items: center

.right-block
  display: flex
  justify-content: flex-end

.column
  display: flex
  flex-direction: column

.bg-transparent
  background-color: transparent

.br-none
  border: none

.csr-pointer
  cursor: pointer

input
  outline: none
  border-color: transparent
  border-bottom: 1px solid #dddddd
  transition: border-bottom 0.3s
  &:focus
    border-bottom: 1px solid $color-element

.color-site-text
  color: $color-element

.opposite-sides
  display: flex
  justify-content: space-between
  align-items: center

.fs-12
  font-size: 12px

.cancel-uppercase
  text-transform: none

.error
  color: red
  font-size: 14px
  text-align: center


