.input-select
  display: flex
  justify-content: flex-start
  flex-direction: column
  padding: 10px
  background-color: #ffffff
  position: absolute
  z-index: 100
  &-item
    position: relative
    border-bottom: 1px solid $color-element
    padding: 5px
    width: 100%
    cursor: pointer
    &:hover
      background-color: $color-element
      color: #ffffff
