@import "vars"
@import "mixin"

.procedure
  background: url("../img/service/service.jpg") 100% 100% no-repeat
.kosmetic
  background: url("../img/service/kosmetic.jpg") 100% 100% no-repeat
.shop
  background: url("../img/service/shop.jpg") 100% 100% no-repeat
  .background_shop
    @include back-opacity(#555,.6)
.posts
  background: url("../img/service/me.jpg") 100% 30% no-repeat

.service
  background-size: cover
  position: relative
  margin-bottom: 30px
  &__caption
    text-align: center
    position: relative
    color: $color-text
    background-color: $color-block
    padding: 15px
    border-bottom: 3px none transparent
    border-radius: 0px 0px 40px 40px
    font-size: 1.3rem
    font-weight: bold
  .background
    @include back-opacity($color-block,.4)
  &__content
    position: relative
    display: flex
    &_caption
      color: $color-text
      position: relative
      font-size: 22px
      padding: 10px
      @include box-shadow(inset 0px -8px 13px -9px rgba(0,0,0,1))
    &_block
      margin: 20px
      position: relative
      width: 45%
      .background
        @include back-opacity($color-block,0.8)
    &-text
      padding: 10px
      z-index: 20
      @include box-shadow(6px 10px 20px 2px rgba(0,0,0,0.75))
      position: relative
      color: $color-text
      .service_link
        display: block
        color: $color-text
        font-size: 20px
        margin: 20px
        .fa-angle-double-right
          margin-left: 10px
