.breadcrumbs
  display: flex
  justify-content: space-between
  align-items: center
  background-color: $color-element
  height: 80px
  .current-page
    font-size: 24px
    font-weight: 400
    letter-spacing: inherit
    color: $color-text
    margin-left: 20px
    text-transform: uppercase
  ul.breadcrumb
    padding: 10px 16px
    li
      display: inline
      font-size: 18px
      &+li:before
        padding: 8px
        color: black
        content: "/\00a0"
      a
        color: black
