@import "vars"
@import "mixin"

.carousel
  &__container
    text-align: center
    position: relative
    width: 100%
    height: 800px
    margin: auto
    .carousel__slides
      &_text
        text-align: justify
        padding: 8px 12px
        position: absolute
        top: 30%
        left: 20%
        max-width: 20%
        @include _768
          top: 10px
          left: 20px
          max-width: 40%
      &_image
        width: 99vw
        height: 100%
        overflow: hidden
    .fade
      -webkit-animation-name: fade
      -webkit-animation-duration: 1.0s
      animation-name: fade
      animation-duration: 1.0s
  &_prev, &_next
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    position: absolute
    top: 0
    bottom: 0
    min-width: 10px
    max-width: 100px
    width: 10%
    padding: 0 16px
    color: white
    font-weight: bold
    transition: 0.6s ease
    border-radius: 0 3px 3px 0
    font-size: 45px
    @include _768
      display: none
    &:hover
      color: $color-element
  &_prev:hover
    background: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.0) 100%)
  &_next:hover
    background: linear-gradient(270deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.0) 100%)
  &_next
    right: 0
    border-radius: 3px 0 0 3px
  .carousel__container_dot
    position: relative
    top: -40px
    .carousel_dot
      cursor: pointer
      height: 5px
      width: 50px
      margin: 0 2px
      background-color: $color-element-dark
      display: inline-block
      opacity: 0.3
      transition: background-color 0.6s ease
      &:hover
        opacity: 1
        background-color: $color-element
      @include _768
        display: none
    .active
      background-color: $color-element

.block-slider
  &-caption
    text-align: center
    position: relative
    background-color: $color-block-transparent
    padding: 15px
    font-size: 1.3rem
    font-weight: bold
    letter-spacing: 2px
    @include _768
      padding: 5px
  &-content
    margin: 5px
    position: relative
    &_text
      .background
        @include back-opacity($color-block,0.6)
      .text
        padding: 10px
        z-index: 20
        @include box-shadow(6px 10px 20px 2px rgba(0,0,0,0.75))
        position: relative
        color: $color-text
  .button-carousel
    @include button-link(#000)
    display: inline-block

