.single__product
  display: flex
  &_block
    display: flex
    width: 700px
    background-color: #ffffff
    padding: 20px
    .single__product_image
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      img
        max-width: 250px
      .exist
        padding: 10px 0
        border-radius: 5px
        border: 1px solid #333
        background-color: #ddd
        width: 200px
        display: flex
        align-items: center
        justify-content: center
        color: forestgreen
        margin-top: 20px
    .single__product_text
      margin-left: 20px
      justify-content: space-between
      display: flex
      flex-direction: column
      width: 100%
      &-caption
        font-size: 22px
        margin: 10px 0
      &-description
        overflow-y: auto
        max-height: 200px
      &-params
        display: flex
        font-weight: bold
        flex-direction: column
        .purpose
          margin: 10px 0
          &_text
            font-weight: normal
      .price
        color: #f3580e
        font-size: 18px
        font-weight: bold
        margin: 10px 0
      .buttons
        height: 40px
        display: flex
        justify-content: space-between
        align-items: center
        .addToCart
          @include button(10px 5px, 0, $color-block)
