@import "vars"

.footer
  background-color: $color-footer-transparent
  color: #ffffff
  &__item
    display: flex
    flex-direction: column
    margin-left: 20px
    width: 30%
  &__flex
    height: 150px
    display: flex
    padding-top: 30px
    align-items: flex-start
    justify-content: space-between
  &__caption
    font-size: 18px
    color: #ffffff
  &__contact
    list-style: none
    li
      width: max-content
      padding-top: 7px
  &__text
    margin-left: 10px

.social
  background-color: $color-footer
  display: flex
  align-items: center
  height: 60px
  &__flex
    display: flex
    align-items: center
    justify-content: space-between
  .soc
    list-style: none
    display: flex
    a
      padding: 10px
      color: #ffffff
      font-size: 30px
      transition: all 0.3s ease
      svg:hover
        transform: scale(1.03, 1.03)
