@import "input"
@import "vars"

.header
  background-color: #ffffff
  position: sticky
  z-index: 10000
  top: 0
  border-bottom: 1px solid #dddddd
  .header__flex
    display: flex
    align-items: center
    flex-wrap: wrap
    position: relative
    .block_logo_search
      align-items: center
      width: 80%
      @include _768
        width: 100%
    & .header__logo
      &_img
        display: block
        background: url("../img/logo.png") no-repeat 0 50%
        width: 150px
        height: 80px
        margin-right: 10px
    & .search__block
      display: flex
      align-items: center
      width: 80%
      @include _768
        display: none
    .block_cart_auth
      width: 20%
      @include _768
        order: -1
        flex-direction: row-reverse
        width: 100%
        justify-content: space-between
        background: rebeccapurple
        align-items: center
    & .autorizated
      color: #333333
      display: flex
      align-items: center
      border-top: 1px solid #333333
      padding: 10px 0 0 10px
      @include _768
        padding: 0
        margin-left: 20px
        border: none
      & span
        margin-right: 10px
        font-size: 1rem
    & .cart__block
      display: flex
      padding: 10px
      cursor: pointer
      & .cart-image
        display: flex
        svg
          fill: $color-element
      & .cart-total-product
        margin-left: 10px
        display: flex
        align-items: center
        color: grey
        font-size: 14px
      & .cart-menu
        position: absolute
        top: 50px
        right: 0
        background-color: #fff
        padding: 21px 15px
        border-radius: 5px
        animation: drop 0.8s
        border: 1px solid #dddddd
        width: 400px
        z-index: 20000
        -webkit-box-shadow: 9px 9px 5px -5px rgba(0, 0, 0, 0.32)
        -moz-box-shadow: 9px 9px 5px -5px rgba(0, 0, 0, 0.32)
        box-shadow: 9px 9px 5px -5px rgba(0, 0, 0, 0.32)
        @include _768
          right: 0
          left: 0
          bottom: 0
          width: 100%
          z-index: 20000
          background: #ffffff
          height: 100vh
          overflow: scroll
          flex-direction: column
          align-items: flex-start
          justify-content: flex-start
        .cart-empty
          font-size: 1.2rem
          font-weight: bold
          text-align: center
        & .cart-menu-section
          display: flex
          align-items: center
          justify-content: space-between
          padding-bottom: 16px
          border: 1px solid #dddddd
          margin-bottom: 16px
          &:hover
            transform: scale(1.05)
            -webkit-box-shadow: 9px 9px 5px -5px rgba(0, 0, 0, 0.32)
            -moz-box-shadow: 9px 9px 5px -5px rgba(0, 0, 0, 0.32)
            box-shadow: 9px 9px 5px -5px rgba(0, 0, 0, 0.32)
          & .cart-menu-link
            display: flex
            align-items: center
            padding: 10px
            & img
              width: 25%
            & .cart-menu-info
              margin-left: 14px
              &-caption
                font-size: 12px
                font-weight: bold
                text-transform: uppercase
                margin-bottom: 10px
              &-price
                font-size: 12px
                font-weight: normal
                text-transform: uppercase
                & .multi
                  font-size: 10px
                  font-weight: normal
                  text-transform: uppercase
          & .cart-product
            width: 72px
            height: 85px
        & .commonInfo
          & .cart-menu-total_price
            display: flex
            justify-content: space-between
            width: 100%
            margin-bottom: 32px
            margin-top: 3px
            & .total_price
              font-size: 16px
              font-weight: bold
              text-transform: uppercase
          & .cart-menu-buttons
            display: flex
            flex-direction: column
          & .cart-menu-button
            display: flex
            justify-content: center
            align-items: center
            padding: 19px
            margin: 0
            color: #333333
            border: 1px solid transparent
            font-size: 14px
            font-weight: bold
            text-transform: uppercase
            cursor: pointer
            &:hover
              border-color: #eaeaea
            &:active
              -webkit-box-shadow: inset 1px 1px 15px -1px rgba(0, 0, 0, 0.7)
              -moz-box-shadow: inset 1px 1px 15px -1px rgba(0, 0, 0, 0.7)
              box-shadow: inset 1px 1px 15px -1px rgba(0, 0, 0, 0.7)
        & .cart__goods-count
          border: 1px solid #dddddd
          width: 50px
          margin-right: 5px
        & .cart
          fill: #555
        &:hover .cart
          fill: forestgreen
        &:hover .cart__goods-count
          border-color: forestgreen
        &:hover .cart-menu
          display: block
  .navigation_minimenu
    display: none
    justify-content: flex-end
    margin-right: 20px
    @include _768
      display: flex
    .mini
      z-index: 10002
      .bar1, .bar2, .bar3
        width: 35px
        height: 5px
        background-color: #333
        margin: 6px 0
        transition: 0.4s
    .change
      .bar1
        -webkit-transform: rotate(-45deg) translate(-9px, 6px)
        transform: rotate(-45deg) translate(-9px, 6px)
      .bar2
        opacity: 0
      .bar3
        -webkit-transform: rotate(45deg) translate(-8px, -8px)
        transform: rotate(45deg) translate(-8px, -8px)

.header_menu
  flex-direction: column
  @include _768
    flex-direction: row
    justify-content: space-between

