.inputDiv
  width: 100%
  label
    font-size: 1rem
    font-weight: bold
    padding: 0 5px
    height: 100%
    .page-admin
      background-color: rgba(210,218,217,0.77)
      border: 1px solid rgb(210,218,217)
      width: 200px
  .input-block
    display: flex
    align-items: center
  input
    display: flex
    align-items: center
    height: 2rem
    padding-left: 7px
    padding: 6px 10px
    height: 100%
    width: 100%
  .icon
    height: 2rem
    width: 2rem
    display: flex
    align-items: center
    justify-content: center
