.lk
  &-foto
    display: flex
    align-items: center
    justify-content: center
    border: 2px dashed #dddddd
    width: 200px
    height: 200px
    .text
      color: #dddddd
      font-size: 14px
