@import "vars"
@import "animation"

.block_menu
  height: 100%
  align-items: center
  margin-right: 30px
  @include _768
    overflow: hidden

.nav
  width: 100%
  @include _768
    width: 50%
    margin: 0
.navigation
  &__menu
    list-style: none
    display: flex
    align-items: center
    height: 50px
    justify-content: center
    font-size: 18px
    @include _768
      display: none
    &-item
      position: relative
      padding: 5px 20px
      border-bottom: 2px solid transparent
      transition: border-bottom .3s linear
      @include _768
        width: 80%
        padding: 20px
      &:hover
        border-bottom: 2px solid $color-underline
      &:hover
        .dropdown
          display: block
          @include _979
            display: none
    &-link
      color: $colot-block-dark!important
      cursor: pointer
      @include _768
        font-size: 2rem
      .arrowDown
        margin-left: 5px
      .dropdown
        display: none
        width: max-content
        position: absolute
        z-index: 10
        padding-top: 10px
        list-style: none
        background-color: #ffffff
        left: 0
        top: 30px
        @include _768
          position: static
        &__menu-link
          color: $color-block

.open-menu
  display: flex
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 10001
  background: #ffffff
  height: 100vh
  overflow: scroll
  flex-direction: column
  align-items: flex-start
  justify-content: flex-start
