@import "vars"

.modalForm
  display: flex
  align-items: center
  justify-content: center
  background-color: rgba(0, 0, 0, 0.8)
  top: 0
  left: 0
  right: 0
  bottom: 0
  position: fixed
  z-index: 1000
  .caption
    display: flex
    align-items: center
    justify-content: flex-end
    background-color: $color-footer-transparent
    width: 100%
    height: 24px
    border-bottom: 1px solid $color-border
    .closeButton
      color: white
      cursor: pointer
      &:hover
        transform: scale(1.2,1.2)
