.filters-content
  display: flex
  border: 1px solid #333333
  .row
    display: flex
    flex-direction: column
    width: 30%
    margin-left: 3%
    border-right: 1px solid #333333
    padding: 7px
    &:first-child
      margin-left: 0
    &:last-child
      border: none

