@import "vars"
@import "mixin"

.goods
  width: $container - $sidebar
  margin-left: 15px
  margin-top: 20px
  .product__container
    display: flex
    flex-direction: column
    justify-content: space-between
    position: relative
    width: 261px
    margin-bottom: 39px
    transition: all .3s linear
    margin-left: 3%
    &:hover
      transform: scale(1.05)
      @include box-shadow(0 5px 8px rgba(0, 0, 0, 0.16))
      & .product__viewProduct
        display: flex
        background-color: rgba(247, 247, 247, 0.1)
      & .product__img
        filter: brightness(50%)
    .product__img
      width: 100%
    .product__footer
      display: flex
      justify-content: space-between
      align-items: center
      .product__addToCart
        @include button(5px 10px, 0, $color-block)
    .product__items-text
      position: relative
      padding: 21px 14px
      .product__items-caption
        font-size: 13px
        font-width: bold
        color: #222222
        text-transform: uppercase
        margin-bottom: 17px
      .product__items-price
        font-size: 16px
        font-width: bold
        text-transform: uppercase
        color: $color-text
        font-weight: bold
        &:hover
          color: $color-text
    .product__viewProduct
      display: none
      @include button(5px 10px, 0, #cccccc)
      position: absolute
      left: 70px
      top: 98px
      &:hover
        border-color: $color-background
        background-color: rgba(0, 0, 0, .5)
