.preloader-title
  margin: 0
  padding: 10px 0
  color: #dddddd
  font-size: 0.75rem

.load-wrap
  width: 100px
  height: 100px
  text-align: center
  .preloader-title
    padding: 0 0 20px

.line
  display: inline-block
  width: 15px
  height: 15px
  border-radius: 15px
  background-color: #4b9cdb

.load .line:nth-last-child(1)
  animation: loading .6s .1s linear infinite
.load .line:nth-last-child(2)
  animation: loading .6s .2s linear infinite
.load .line:nth-last-child(3)
  animation: loading .6s .3s linear infinite

@keyframes loading
  0%
    transform: translate(0,0)
  50%
    transform: translate(0,15px)
  100%
    transform: translate(0,0)
