.shopping__flex
  .cart-empty
    font-size: 24px
    font-weight: bold
    display: flex
    align-items: center
    justify-content: center
    color: #ccc
    height: 100px
  .shopping__items_value-width
    //width: $shopping__caption_block-width / 5
    text-align: center
  .shopping__product_caption
    display: flex
    align-items: center
    font-size: 13px
    font-weight: bold
    border-bottom: 1px solid #eaeaea
    padding-bottom: 20px
    text-transform: uppercase
  .shopping__info-block
    display: flex
    align-items: center
    justify-content: space-between
  .shopping__details-width
    //width: $shopping__details-width
  .shopping__info_block-width
    //width: $shopping__caption_block-width
  .shopping__product
    display: flex
    align-items: center
    padding: 23px 0
    border-bottom: 1px solid #eaeaea
    .options
      text-align: center
    .shopping__details
      display: flex
      align-items: center
      .img_block
        position: relative
        width: 30%
        height: 150px
        img
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
    .shopping__parametrs
      margin-left: 21px
      font-size: 13px
      font-weight: bold
      .shopping__parametrs_name
        text-transform: uppercase
        margin-bottom: 38px
        display: block
        color:  #222222
        &:hover
          color: $color-element
      .shopping__parametrs_property
        font-size: 13px
        font-weight: bold
        font-family: Lato
        margin-bottom: 5px
        .shopping__paramerts_slimText
          font-size: 13px
          font-weight: bold
          font-family: "Lato Light"
    .shopping__info-text
      font-size: 13px
      font-weight: bold
      font-family: Lato
    .shopping__input-param
      margin-left: 20%
      width: 54px
    .shopping_button-close
      font-size: 16px
      font-weight: normal
      font-family: "Font Awesome"
      cursor: pointer
      text-transform: uppercase
      &:hover
        color: $color-element

.controls__flex
  display: flex
  align-items: center
  margin-top: 44px
  justify-content: space-between
  margin-bottom: 40px
  .controls__button
    @include button(10px)
    &:hover
      color: $color-element
      border-color: $color-element

.checkout
  margin-top: 30px
  .caption
    font-weight: bold
    text-transform: uppercase
    color: $color-text
    margin-bottom: 20px
  .details__block-param
    display: flex
    flex-direction: column
    width: 30%
    background-color: $color-block-transparent
  .details__checkout
    width: 360px
    height: 214px
    align-items: center
    &_subtotal
      font-size: 11px
      text-transform: uppercase
    &-margin
      margin-left: 15px
    &_grandtotal
      font-weight: bold
      margin-top: 14px
      .details__checkout_grandtotal-color
        color: $color-text
    .details__checkout_text
      display: flex
      flex-direction: column
      align-items: flex-end
      justify-content: center
      padding-bottom: 22px
      margin: 40px 43px 17px
      border-bottom: 1px solid #e2e2e2
      width: 273px
