@import "vars"

.side-menu
  border: 1px solid $color-border
  .filter
    display: flex
    flex-direction: column
    width: $sidebar
    &__caption
      font-weight: bold
      text-align: center
      padding: 10px
      background-color: $color-block-transparent
      font-size: 18px
      margin-top: 20px
      color: $color-element
      &:first-child
        margin-top: 0
    &__body
      &:last-child
        margin-top: 50px
        justify-content: center
      display: flex
      flex-wrap: wrap
      .price__block
        display: flex
        justify-content: center
      &_item
        padding: 10px
        margin-top: 7px
      .filter__accept
        display: flex
        @include button(10px 20px)
        font-size: 20px
