.slider
  display: flex
  margin-top: 20px
  width: 90%
  .slider__bar
    width: 100%
    height: 10px
    position: relative
    background-color: red
    .slider__bar_line
      background-color: #dddddd
      height: 100%
      position: relative
      left: 0
      right: 0
    .slider__bar_tug
      position: absolute
      top: -100%
      width: 10px
      height: 20px
      cursor: pointer
      border: 10px solid transparent
      border-top: 10px solid #2ddd60
      z-index: 100
    .slider__bar_tug[regard="min"]
      left: 0
    .slider__bar_tug[regard="max"]
      right: 0
    .slider__bar_price
      display: flex
      justify-content: space-between
      margin-top: 10px
      user-select: none
      .slider__bar_price input[regard="min"],
      .slider__bar_price input[regard="max"]
        width: 50%
        text-align: left
        font-size: 16px
        border: none
      .slider__bar_price input[regard="max"]
        text-align: right


