$min-width: 120px
$maincolor: #6BBE92
$secondarycolor: #3E8760

@mixin transform($value)
  -webkit-transform: ($value)
    -moz-transform: ($value)
      -ms-transform: ($value)
        transform: ($value)

@mixin transition($value)
  -webkit-transition: ($value)
    -moz-transition: ($value)
      -ms-transition: ($value)
        transition: ($value)

.top-menu
  position: relative
  list-style: none
  background: $maincolor
  font-weight: 400
  font-size: 0
  text-transform: uppercase
  display: inline-block
  padding: 0
  margin: 50px auto
  &-link
    font-size: 0.8rem
    display: inline-block
    position: relative
    padding: 15px 20px
    cursor: pointer
    z-index: 5
    min-width: $min-width
    .drop
      overflow: hidden
      list-style: none
      position: absolute
      padding: 0
      width: 100%
      left: 0
      top: 48px
      div
        @include transform(translate(0,-100%))
        @include transition(all 0.5s 0.1s)
        position: relative
      li
        display: block
        padding: 15px 20px
        font-size: 0.8rem
        width: 100%
        background: $secondarycolor !important
        &:hover
          background: $maincolor !important

.top-menu-marker
  height: 6px
  background: $secondarycolor !important
  position: absolute
  bottom: 0
  width: $min-width
  z-index: 2
  @include transition(all 0.35s)

@for $i from 1 through 4
  .top-menu li:nth-child(#{$i})
    &:hover ul div
      @include transform(translate(0,0))

    &:hover ~ .top-menu-marker
      @include transform(translate(#{(-1+$i)*$min-width},0))


